/*
// --------------------------------------------------------------------------------------------------------------------
// Desktop-Level Definitions
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-body
{
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

.bea-portal-body a
{
    display: inline;
    color: #666666;
    text-decoration: none;
}

.bea-portal-body a:hover
{
    color: #000000;
    text-decoration: underline;
}

.bea-portal-body-content
{
}

.bea-portal-body-header, .bea-portal-body-footer
{
    margin: 0px;
    padding: 4px;
    background-color: #e5e5e5;
    color: #000000;
    border-style: solid;
    border-top-color: #f8f8f8;
    border-bottom-color: #b2b2b2;
    border-width: 1px 0px;
}

.bea-portal-body-header
{
    font-size: large;
    font-weight: bold;
}

.bea-portal-body-footer
{
    font-size: x-small;
    font-style: italic;
}

.bea-portal-body-footer a
{
    color: #000000;
}
