/*
// --------------------------------------------------------------------------------------------------------------------
// Window
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-window
{
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #333366;
    background-color: #ffffff;
    /* Fix for IE height problem; uses Mozilla's recognition of and IE's ignorance of C-style line comment... */
    //height: 100%;
}

.bea-portal-window-content
{
    margin: 2px;
    padding: 0px;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Window Titlebar
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-window-titlebar
{
    padding: 2px 2px;
    margin: 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #9999b2;
    background-image: url('../images/window-titlebar-background.gif');
    font-size: small;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.bea-portal-window-titlebar-title
{
    vertical-align: middle;
}

.bea-portal-window-icon
{
    vertical-align: middle;
    margin: 0px 2px 0px 0px;
}

.bea-portal-window-buttonbar
{
    padding: 0px 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cccce5;
    background-color: #f0f0f0;
}

.bea-portal-window-buttonbar-layout
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.bea-portal-window-buttonbar-layout-standard
{
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.bea-portal-window-buttonbar-layout-extensions
{
    margin: 0px;
    padding: 0px;
    text-align: left;
}
