/*
// --------------------------------------------------------------------------------------------------------------------
// Button
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-button
{
}

.bea-portal-button img
{
    margin: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
}

.bea-portal-button:hover img
{
    border-color: #666699;
}

.bea-portal-button-delete
{
}

.bea-portal-button-delete img
{
    margin: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
}

.bea-portal-button-delete:hover img
{
    border-color: #666699;
}