/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary
{
    padding: 0px;
    margin: 0px;
    font-size: small;
    width: 100%;
}

.bea-portal-book-primary-content
{
    padding: 0px;
    vertical-align: top;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Page
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-page
{
    padding: 8px;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book
{
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #333366;
}

.bea-portal-book-content
{
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #cccce5;
    scrollbar-base-color:#e5e5ff;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Page
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-page
{
    background-color: #ffffff;
    padding: 8px;
    font-size: small;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Root Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-menu
{
    display: none;
}

.bea-portal-book-primary-menu-root
{
    margin: 0px;
    font-size: small;
    background-color: #e5e5ff;
    border-style: solid;
    border-width: 1px 0px;
    border-top-color: #f0f0ff;
    border-bottom-color: #cccce5;
    padding: 2px 0px;
}

.bea-portal-book-primary-menu-root-item a, .bea-portal-book-primary-menu-root-item-active a
{
    color: #000000;
    padding: 2px 6px;
}

.bea-portal-book-primary-menu-root a
{
}

.bea-portal-book-primary-menu-root a:hover
{
    color: #ffffff;
    background-color: #000099;
    text-decoration: none;
}

.bea-portal-book-primary-menu-root ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-root li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-root-item
{
}

.bea-portal-book-primary-menu-root-item-active a
{
    color: #ffffff;
    background-color: #7f7fb2;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #cccce5;
    border-bottom-color: #7f7fb2;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Nested Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-menu-nested
{
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    font-size: x-small;
}

.bea-portal-book-primary-menu-nested-item a, .bea-portal-book-primary-menu-nested-item-sub a, .bea-portal-book-primary-menu-nested-item-active a
{
    padding: 1px 4px 1px 4px;
    display: block;
    text-decoration: none;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #f0f0ff;
    width: 150px;
}

.bea-portal-book-primary-menu-nested-item a:hover, .bea-portal-book-primary-menu-nested-item-sub a, .bea-portal-book-primary-menu-nested-item-active a:hover
{
    color: #000033;
    background-color: #e5e5ff;
    border-color: #cccce5;
}

.bea-portal-book-primary-menu-nested-item a
{
    color: #000066;
    background-color: #ffffff;
}

.bea-portal-book-primary-menu-nested-item-sub a
{
    color: #000033;
    background-color: #e5ffe5;
}

.bea-portal-book-primary-menu-nested-item-active a
{
    color: #000033;
    background-color: #e5e5ff;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Root Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-menu
{
    display: none;
}

.bea-portal-book-menu-root
{
    margin: 0px;
    padding: 2px 0px;
    font-size: x-small;
    background-color: #f0f0f0;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cccce5;
}

.bea-portal-book-menu-root-item a, .bea-portal-book-menu-root-item-active a
{
    padding: 2px 4px;
    color: #000000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cccccc;
}

.bea-portal-book-menu-root a
{
}

.bea-portal-book-menu-root a:hover
{
    color: #ffffff;
    background-color: #000099;
    text-decoration: none;
}

.bea-portal-book-menu-root ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-root li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-root-item
{
}

.bea-portal-book-menu-root-item-active a
{
    background-color: #ffffff;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #cccccc;
    border-bottom-color: #ffffff;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Nested Menu, Multi-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-menu-nested
{
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    font-size: x-small;
}

.bea-portal-book-menu-nested-item a, .bea-portal-book-menu-nested-item-sub a, .bea-portal-book-menu-nested-item-active a
{
    padding: 1px 4px 1px 4px;
    display: block;
    text-decoration: none;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #f0f0ff;
    width: 150px;
}

.bea-portal-book-menu-nested-item a:hover, .bea-portal-book-menu-nested-item-sub a, .bea-portal-book-menu-nested-item-active a:hover
{
    color: #000033;
    background-color: #e5e5ff;
    border-color: #cccce5;
}

.bea-portal-book-menu-nested-item a
{
    color: #000066;
    background-color: #ffffff;
}

.bea-portal-book-menu-nested-item-sub a
{
    color: #000033;
    background-color: #e5ffe5;
}

.bea-portal-book-menu-nested-item-active a
{
    color: #000033;
    background-color: #e5e5ff;
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Primary Book Menu, Single-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-primary-menu-single-container
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    white-space: nowrap;
    border-width: 0px;
}

.bea-portal-book-primary-menu-single
{
    margin: 0px;
    font-size: small;
    background-color: #e5e5ff;
    border-style: solid;
    border-width: 1px 0px;
    border-top-color: #f0f0ff;
    border-bottom-color: #cccce5;
    padding: 2px 0px;
}

.bea-portal-book-primary-menu-single a, .bea-portal-book-primary-menu-single span
{
    color: #000000;
    padding: 2px 6px;
}

.bea-portal-book-primary-menu-single a
{
}

.bea-portal-book-primary-menu-single a:hover
{
    color: #ffffff;
    background-color: #000099;
    text-decoration: none;
}

.bea-portal-book-primary-menu-single span
{
    color: #ffffff;
    background-color: #7f7fb2;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #cccce5;
    border-bottom-color: #7f7fb2;
}

.bea-portal-book-primary-menu-single ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-single li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-primary-menu-single-item
{
}

.bea-portal-book-primary-menu-single-item-active
{
}

/*
// --------------------------------------------------------------------------------------------------------------------
// Standard Book Menu, Single-Level
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-book-menu-single-container
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    white-space: nowrap;
    border-width: 0px;
}

.bea-portal-book-menu-single
{
    margin: 0px;
    padding: 2px 0px;
    font-size: x-small;
    background-color: #f0f0f0;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cccce5;
}

.bea-portal-book-menu-single a, .bea-portal-book-menu-single span
{
    padding: 2px 4px;
    color: #000000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #cccccc;
}

.bea-portal-book-menu-single a:hover
{
    color: #ffffff;
    background-color: #000099;
    text-decoration: none;
}

.bea-portal-book-menu-single span
{
    background-color: #ffffff;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #cccccc;
    border-bottom-color: #ffffff;
}

.bea-portal-book-menu-single ul
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-single li
{
    display: inline;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.bea-portal-book-menu-single-item
{
}

.bea-portal-book-menu-single-item-active
{
}
