/*
// --------------------------------------------------------------------------------------------------------------------
// Desktop-Level Definitions
// --------------------------------------------------------------------------------------------------------------------
*/

.bea-portal-body
{
    margin: 0px;
    padding: 0px;
    background-color: #666699;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.bea-portal-body a
{
    display: inline;
    text-decoration: none;
}

.bea-portal-body a:hover
{
    text-decoration: underline;
}

.bea-portal-body-content
{
}

.bea-portal-body-header, .bea-portal-body-footer
{
    margin: 0px;
    padding: 4px;
    color: #cccce5;
}

.bea-portal-body-header
{
    font-size: large;
    font-weight: bold;
}

.bea-portal-body-footer
{
    font-size: x-small;
    font-style: italic;
}

.bea-portal-body-header a, .bea-portal-body-footer a
{
    color: #cccce5;
}
