

body
{
background-color: #ffffff;
background-repeat: no-repeat;
font-family: Arial, Verdana;
font-size: 10px;
font-style: normal;
font-weight: normal;
/* color: #333333; */
/* margin-top: 10px; */
/* margin-left: 10px; */
/* margin-right: 10px; */
/* margin-bottom: 10px; */
}


/* Style for in-page header of the generated rowset pages */
.pagehead
{
font-size: 16px;
font-weight: bold;
}

.regular
{
font-size:14x;
font-weight: normal;
}

/* Table row style referenced in generated various generated pages */
.tablebody
{
/* background-color: #CCDDEE; */
color: #111111;
font-size: 14px;
text-align: left;
vertical-align: middle;
padding: 5px 10px 5px 10px;
}


/* Grid header style referenced in gridStyle tag for generated rowset pages */
.tablehead
{
background-color: #CCDDEE;
color: #555588;
font-size: 14px;
text-align: left;
vertical-align: baseline;
line-height: 18px;
border-color: #999999;
border-style: solid;
border-width: 1px;
padding-left: 10px;
}

.rowhead
{
background-color: #CCDDEE;
color: #555588;
font-size: 14px;
text-align: left;
vertical-align: top;
line-height: 18px;
border-color: #999999;
border-style: solid;
border-width: 1px;
padding-left: 10px;
text-decoration: bold;
}

/* Grid base row style referenced in gridStyle tag for generated rowset pages */
.data-td
{
background-color: #FFFFFF;
color: #111111;
font-size: 14px;
text-align: left;
border-color: #999999;
border-style: solid;
border-width: 1px;
padding-left: 12px;
}


/* Grid alternate row style referenced in gridStyle tag for generated rowset pages */
.data-alt-td
{
background-color: #CCDDEE;
color: #111111;
font-size: 14px;
text-align: left;
border-color: #999999;
border-style: solid;
border-width: 1px;
padding-left: 12px;
}


/* Used for prompts in generated pages */
.prompt
{
color: #993333;
font-style: italic;
}


a:link {
	color: #3366CC;
    text-decoration: bold
}
a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

a:visited {
	color: #803380;
}

a {
	text-decoration: none none none;
}